@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

html {
    font-size: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: dimgray
}

/* Body Section */
body {
    font-family: 'Raleway' , sans-serif;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: lavender;
    height: 95vh;

}

main {
    align-content: center;
}

#me {
	height: 200px;
	border-radius: 15%;
}

.contact-me {
    margin-top: 200px;
}

.social{
    /* border: 1px solid red; */
    margin-top: 10px;
    justify-content: space-around ;
}

/* Animation code borrowed from https://codepen.io/kpdushanmaduka/pen/jadeoO.
 Found it by looking for transform and animation over hover. Further modified it after
reading about the property in W3Schools.
 */
i {
    letter-spacing: 50px;
    transition: all .5s ease-out;
  }

i:hover {
    transform: rotate(20deg) scale(1.2);
  }
  
h1 {
	font-size: 3rem;
	font-weight: normal;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
    font-size: 2rem;
	font-weight: bold;
}

h4 {
	font-size: 1.5rem;
	font-weight: normal;
}

p {
	font-size: 1rem;
}

/* Disable for now while testing */

/* .contact-headline {
    font-size: large;
}

contact-link {
	font-weight: bold;
	text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: small;
}

.contact-phone {
	font-weight: bold;
	text-align: center;
    font-size: small;
} */
