/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply font to the entire document */
html {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: dimgray
}

/* Simplify body styles */
body {
    font-family: 'Raleway' , sans-serif;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: lavender;
    height: 95vh;

}

main {
    align-content: center;
}

#me {
	height: 200px;
	border-radius: 15%;
}

.contact-me {
    margin-top: 150px;
}

/* Add spacing between social icons */
.social {
    display: flex;
    gap: 1rem;
    justify-content: center;
}


/* Style headings */
h1 {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

/* Apply consistent font size for paragraphs */
p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Animation code borrowed from https://codepen.io/kpdushanmaduka/pen/jadeoO.
 Found it by looking for transform and animation over hover. Further modified it after
reading about the property in W3Schools.
 */
 i {
    letter-spacing: 30px;
    transition: all .5s ease-out;
  }

i:hover {
    transform: rotate(20deg) scale(1.2);
  }
  

/* Disable for now while testing */

/* .contact-headline {
    font-size: large;
}

contact-link {
	font-weight: bold;
	text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: small;
}

.contact-phone {
	font-weight: bold;
	text-align: center;
    font-size: small;
} */
