@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* Body Section */
body {
    font-family: 'Raleway' , sans-serif;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 20px #202020;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: DarkSlateBlue;
}

main {
    margin: center;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
    margin-top: 90px;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
    margin-top: -30px;
}

h3 {
    font-size: 2rem;
	font-weight: bold;
	margin-top: 60px
}

h4 {
	font-size: 1.5rem;
	font-weight: normal;
}

p {
	font-size: 1rem;
}

/*About Section*/


/* Contact Me Section */

/* .contact-me {
	height: 150px;
	padding-top: 30px;
	padding-bottom: 60px;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
	
} */

.contact-headline {
	margin-top: 20px;
    font-size: large;
}

.contact-link {
	font-weight: bold;
	text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: small;

}

.contact-phone {
	font-weight: bold;
	text-align: center;
    font-size: small;
}
