<main class="container">
  <section class="about">
    <h2>About Me</h2>
    <p>
      Hello! I'm a passionate software engineer with a deep knowledge in a range of technologies. With a keen eye for detail and a drive to continuously learn, I'm committed to crafting robust and scalable solutions.
    </p>
    
    <h2>Skills & Competencies from General Assembly's Program:</h2>

    <div class="skills-section">
      <div class="skill-column">
          <h3>Technologies & Tools</h3>
          <ul>
              <li>Java</li>
              <li>Angular & TypeScript</li>
              <li>Spring Boot</li>
              <li>Spring Security & JWT</li>
              <li>Maven</li>
              <li>SQL</li>
              <li>REST API Development</li>
              <li>JUnit, Cucumber</li>
              <li>MockMVC & Rest Assured</li>
              <li>Postman</li>
              <li>GitHub Branching</li>
          </ul>
      </div>
      
      <div class="skill-column">
          <h3>Methodologies & Principles</h3>
          <ul>
              <li>OOP & OOD</li>
              <li>Agile and Scrum methodologies</li>
              <li>User Stories</li>
              <li>TDD & BDD</li>
              <li>Data Structures & Algorithms</li>
              <li>Pair Programming</li>
          </ul>
      </div>
  </div>

  Building upon my foundational skills, I also offer:
    <ul>
        <li>Expertise in crafting robust applications using the Spring Boot framework.</li>
        <li>Proficient command of SQL, optimizing and managing queries efficiently.</li>
        <li>Experience with API testing and automation using Rest Assured and MockMVC, complemented by integration testing skills.</li>
        <li>Commitment to Test-Driven Development (TDD) for maintaining code quality and reliability.</li>
        <li>Deep understanding of Object-Oriented Design (OOD) principles such as encapsulation, inheritance, and polymorphism.</li>
        <li>An ever-evolving passion for keeping pace with emerging technologies and industry innovations.</li>
    </ul>


    <p>
      My journey in technology later led me to the <strong>University of Central Florida</strong> where I enrolled in a rigorous Coding Boot Camp in 2019. Over an intensive 24-week period, I dedicated myself to designing and building dynamic web applications. There, I laid the foundation of my coding knowledge, diving deep into languages and frameworks such as HTML5, CSS3, Bootstrap, Ruby, Ruby on Rails, Postgresql, JavaScript, JQuery, and ReactJS.
    </p>

    <h2>Skills from UCF Boot Camp:</h2>
    <ul>
      <li>React.js</li>
      <li>Trello</li>
      <li>Test-Driven Development (TDD)</li>
      <li>Ruby on Rails</li>
    </ul>

    <p>
      With a passion for technology, an eye for detail, and a drive to continuously learn, I am always eager to create impactful software solutions and make a meaningful difference.
    </p>
  </section>
</main>
