<main class="container">
  <section class="about">
    <h1>About Me</h1>
    <p>
      Hello! I embarked on a 13-week transformative journey with the Software Engineering Immersive Program at <strong>General Assembly</strong>, sponsored by <strong>Interapt</strong>. This experience allowed me to further hone my skills in software development, focusing on technologies such as Spring Boot, AngularJS, and Java. Embracing Object-Oriented Programming principles and Test-Driven Development, I've ensured the solutions I craft are robust and scalable.
    </p>
    
    <h2>Skills from General Assembly's Program:</h2>
    <ul>
      <li>Object-Oriented Design</li>
      <li>Agile Methodologies & Scrum</li>
      <li>Spring Security & JSON Web Token (JWT)</li>
      <li>Behavior-Driven Development (BDD)</li>
      <li>REST API Design</li>
      <li>Testing with JUnit & Cucumber</li>
      <li>Collaborative Pair Programming</li>
      <li>Proficiency in Spring Boot, AngularJS, TypeScript, and Java</li>
    </ul>

    <p>
      Before diving deep into the world of software development, I dedicated some time to full-time parenting. This period not only allowed me personal growth but also maintained my passion for technology and cybersecurity.
    </p>

    <p>
      Earlier in my career, I served as a Talent Acquisition Specialist and Operations Lead at Interapt for almost three years. Here, I acquired significant experience in IT operations and had the privilege of contributing to Training and Development, continually refining my IT skills.
    </p>

    <p>
      My journey in technology later led me to the <strong>University of Central Florida</strong> where I enrolled in a rigorous Coding Boot Camp in 2019. Over an intensive 24-week period, I dedicated myself to designing and building dynamic web applications. There, I laid the foundation of my coding knowledge, diving deep into languages and frameworks such as HTML5, CSS3, Bootstrap, Ruby, Ruby on Rails, Postgresql, JavaScript, JQuery, and ReactJS.
    </p>

    <h2>Skills from UCF Boot Camp:</h2>
    <ul>
      <li>React.js</li>
      <li>Trello</li>
      <li>Test-Driven Development (TDD)</li>
      <li>Ruby on Rails</li>
    </ul>

    <p>
      With a passion for technology, an eye for detail, and a drive to continuously learn, I am always eager to create impactful software solutions and make a meaningful difference.
    </p>
  </section>
</main>
