main {
  padding-top: 75px; /* to account for the navbar */
  padding-bottom: 120px; /* to account for the footer */
  overflow-y: auto; /* in case content is longer than the viewport */
}


.about {
  padding: 2rem;
  line-height: 1.6; 
  color: #ddd; 
  max-width: 800px; 
  margin: 0 auto;
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #40E0D0; 
}

.about p {
  margin-bottom: 1.5rem;
}

/* Skills Headers - adjusted styling */
.about h2 {
  font-size: 1.5rem; /* Slightly reduced font size */
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #40E0D0; 
  border: none; /* Remove the border/underline */
}

.about ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}

.about ul li {
  padding-left: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.about ul li:before {
  content: '•';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #40E0D0; 
  font-size: 1.5rem;
}

/* Skills Section Enhancements */
.skills-section h3 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1rem;
  color: #40e0d0; /* Same as your theme color for consistency */
}

.skill-column {
  padding: 1rem;
  
 
}

.skill-column:last-child {
  border-right: none; /* Ensuring the last column doesn't have an extra border */
}

.skill-column ul {
  list-style-type: none; /* simpler bullet points */
  padding-left: 1.5rem;
}

.skill-column li {
  margin-bottom: 0.8rem; /* consistent spacing */
}


/* If you want to make it responsive for smaller devices */
@media (max-width: 768px) {
  .skill-column {
      min-width: 100%; /* Make the column full width on smaller devices */
  }
}
