.contact-form-container {
    background-color: #242424; 
    padding: 1rem;
    border-radius: 8px;
    max-width: 90%;
    width: 100%; /* Ensures it takes full width up to the max-width */
    margin: 1rem auto; /* Centering for both horizontal and vertical */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    color: #40E0D0;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Styling label color */
mat-form-field.mat-focused .mat-form-field-label {
    color: #40E0D0 !important;
}

/* Border color for input fields */
mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #40E0D0;
}

/* Styling input and textarea fields */
mat-input-element, textarea.mat-input-element {
    color: white;
    border-radius: 4px;
    background-color: #181818;
    border: 2px solid transparent; /* Needed for proper transition */
    padding: 0.5rem; /* Padding adjusted for mobile */

}

mat-form-field {
    width: 100%; /* Ensures that the form field takes full width */
    margin: 0.5rem auto;
    font-size: 0.9rem; /* Adjusted font size for mobile */    
}

/* Change underline color on focus */
.mat-form-field-appearance-fill.mat-focused .mat-form-field-underline::before {
    background-color: #40E0D0;
}

/* Hover and active styles for the submit button */
button.mat-flat-button {
    background-color: #40E0D0;
    color: #181818;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 90%;
    margin: 0.5rem auto;
    display: block;
}

button.mat-flat-button:hover {
    background-color: #20b3a4;
}

/* Larger screens adjustments */
@media (min-width: 768px) {
    .contact-form-container {
        max-width: 500px; /* Restoring the max-width for larger screens */
    }

    .contact-form-container h2 {
        font-size: 1.5rem; /* Restored font size for larger screens */
    }

    .contact-form-container mat-form-field, 
    button.mat-flat-button {
        width: 100%; /* On larger screens, utilize the full width */
    }

    mat-form-field {
        font-size: 1rem; /* Restored font size for larger screens */
    }
}