/* Main Content Styles */
main.container {
  /* Positioning & Layout */
  flex: 1 0 auto;

  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically centers the content */
  align-items: center; /* horizontally centers the content */
  height: calc(100vh - 75px - 94px);
  max-width: 1200px; /* Maximum width */
  margin: 0 auto; /* Centering the container */
  padding: 1rem;
}
