<section class="intro">
  <h1>Hi, my name is <span class="name">JP Bacquet</span></h1>

  <p class="bio">
    Passionate about turning ideas into reality, I am a software engineer with a
    penchant for crafting efficient and elegant solutions. With a keen eye for
    detail and a commitment to modern, user-centric design, I create digital
    experiences that captivate and inspire. Driven by innovation and a love for
    code, I am constantly exploring new technologies and honing my skills. Let's
    embark on a journey to build something remarkable together.
  </p>
</section>
